.detail_product {
    z-index: 10;
    display: flex;
    // align-items: center;
    // justify-content: center;
    gap: 116px;
    margin: 0 100px 170px;
    margin-top: 2em;

    &_content {
        color: white;

        &_price {
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
        }

        &_description {
            .description {
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
                margin: 10px 0;
            }

            .detail_description {
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                text-overflow: ellipsis;
            }
        }

        .rating {
            margin: 0 0 2em 0;
        }
        .checked {
            color: orange;
        }
    }

    #content {
        overflow: hidden;
        height: 3.6em;
        line-height: 1.2em;
    }

    button, a {
        text-decoration: none;
        color: black;
        background-color: white;
        border: 0;
        outline: none;
        padding: 10px 20px;
        margin: 20px;
    }
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 10; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0, 0, 0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    #testimonials {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .testimonial-heading {
        letter-spacing: 1px;
        margin: 30px 0px;
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .testimonial-heading h1 {
        font-size: 2.2rem;
        font-weight: 500;
        background-color: #202020;
        color: #ffffff;
        padding: 10px 20px;
    }
    .testimonial-heading span {
        font-size: 1.3rem;
        color: #252525;
        margin-bottom: 10px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    .testimonial-box-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }
    .testimonial-box {
        width: 500px;
        box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        padding: 20px;
        margin: 15px;
        cursor: pointer;
    }
    .profile-img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 10px;
    }
    .profile-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .profile {
        display: flex;
        align-items: center;
    }
    .name-user {
        display: flex;
        flex-direction: column;
    }
    .name-user strong {
        color: #3d3d3d;
        font-size: 1.1rem;
        letter-spacing: 0.5px;
    }
    .name-user span {
        color: #979797;
        font-size: 0.8rem;
    }
    .reviews {
        color: #f9d71c;
    }
    .box-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    .client-comment p {
        font-size: 0.9rem;
        color: #4b4b4b;
    }
    .testimonial-box:hover {
        transform: translateY(-10px);
        transition: all ease 0.3s;
    }

    @media (max-width: 1060px) {
        .testimonial-box {
            width: 45%;
            padding: 10px;
        }
    }
    @media (max-width: 790px) {
        .testimonial-box {
            width: 100%;
        }
        .testimonial-heading h1 {
            font-size: 1.4rem;
        }
    }
    @media (max-width: 340px) {
        .box-top {
            flex-wrap: wrap;
            margin-bottom: 10px;
        }
        .reviews {
            margin-top: 10px;
        }
    }
    ::selection {
        color: #ffffff;
        background-color: #252525;
    }
    @media (min-width: 768px) {
        .most_views_container {
            align-items: baseline !important;
        }
    }
}
