// color
$base-color: #242121;
$color-white: #FFFFFF;
$color-text: #D2D2D2;
$color-text-input: #373737;
$color-text-input-small: #292929;
$color-select: #808080;
$fill-icon: #E7E2E2;

// size text

$title-size: 35px;
$nav-size: 20px;
$input-text-size: 17px;
$button-size: 17px;
$normal-size: 16px;
$input-text-size-small: 12px;
$text-small: 12px;


$w700: 700;
$w600: 600;
$w500: 500;
$w400: 400;
$w300: 300;

:root {
    font-family: "Roboto";
    font-style: normal;
    margin: 0 auto;
}
body {
    background-color: $base-color;
}

.flex {
    display: flex;
}

img {
    width: 100%;
    height: 100%;
    display: block;
}

.main_products_container {
    display: flex;
    gap: 116px;
}


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	// border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	// border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}


@import "./header/header";
@import "./layout/layout";
@import "./footer/footer";