:root {
  font-family: "Roboto";
  font-style: normal;
  margin: 0 auto;
  background-color: #242121;
}

body {
  background-color: #242121;
}

dialog {
  max-width: 300;
  max-height: 300px;
  height: 300px;
  width: 300px;
  padding: 2em;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
}

dialog img {
  max-width: 50%;
  max-height: 50%;
  display: block;
}

.section {
  margin-top: 3.5em;
  margin-bottom: 3.5em;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.main_products_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 116px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

table {
  border-collapse: collapse;
  background: white !important;
}

td,
th {
  border: 1px solid #dddddd !important;
  text-align: center;
  padding: 8px !important;
}

th {
  background-color: green !important;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.container {
  width: 100%;
}

.header {
  padding: .5em;
  background-color: #292929;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 105px;
}

.header_logo a {
  color: #ffffff;
  font-size: 35px;
  text-decoration: none;
}

.header_search {
  position: relative;
  color: #808080;
}

.header_search input {
  width: 678px;
  height: 33px;
  border-radius: 0.3em;
  border: 0;
  outline: none;
  background-color: #373737;
  text-indent: 42px;
  font-size: 17px;
  color: white;
}

.header_search_content {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header_search #livesearch {
  width: 100%;
  background-color: white;
  position: absolute;
}

.header_search .live_search_item {
  padding: 10px 20px;
  list-style: none;
}

.header_search .live_search_link {
  text-decoration: none;
  text-transform: uppercase;
}

.header_setting {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 40px;
  /* Dropdown button */
  /* Add a red background color to navbar links on hover */
  /* Links inside the dropdown */
  /* Add a grey background color to dropdown links on hover */
  /* Show the dropdown menu on hover */
}

.header_setting img {
  width: 32px;
  height: 32px;
  border-radius: 100% !important;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}

.header_setting .dropdown {
  overflow: hidden;
}

.header_setting .dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
}

.header_setting .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  max-width: 200px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.header_setting .dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.header_setting .dropdown-content a:hover {
  background-color: #ddd;
}

.header_setting .dropdown:hover .dropdown-content {
  display: block;
}

.nav {
  margin-left: .5em;
  margin-bottom: .5em;
}

.nav_list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.nav .nav_link {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  text-decoration: none;
}

.most_views .most_views_container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 143px;
          column-gap: 143px;
  row-gap: 50px;
  -ms-touch-action: cross-slide-x;
      touch-action: cross-slide-x;
}

.most_views .most_views_block {
  width: 489px;
  gap: 23px;
  background: rgba(113, 197, 244, 0.38);
  -webkit-box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.most_views_picture {
  border-radius: 5px;
  min-width: 229px;
  height: 270px;
}

.most_views_picture img {
  border-radius: 5px;
  -o-object-fit: fill;
     object-fit: fill;
  width: 100%;
  height: 100%;
  display: block;
}

.most_views_content {
  width: 283px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.most_views_content h1 {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  color: #ffffff;
}

.most_views_content p {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: #d2d2d2;
}

.most_views_content div {
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
  text-align: center;
}

.most_views_content_desc {
  color: #e7e2e2 !important;
  text-align: center;
}

.most_views_content_button a {
  padding: 8px 32px;
  border: 2px solid white;
  font-size: 17px;
  color: #ffffff;
  text-decoration: none;
}

.category_views {
  border: 1px solid #393939;
  border-radius: 10px;
  max-width: 252px;
  width: 100%;
}

.category_views .search {
  position: relative;
  margin-top: 36px;
  margin-bottom: 30px;
  text-align: center;
}

.category_views .search_input {
  width: 208px;
  height: 31px;
  background: #292929;
  outline: none;
  border: none;
  border-radius: 5px;
  text-indent: 49px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.category_views .search_icon {
  position: absolute;
  top: 50%;
  left: 2.5em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.category_views .search_input:focus {
  text-indent: 25px;
}

.category_views .category_container {
  padding: 0.5em 1em;
  color: #ffffff;
}

.category_views .category_container_title {
  border-bottom: 2px solid white;
  width: 50%;
  margin-bottom: 10px;
}

.category_views .category_container_title a {
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
}

.category_views .category_container .checkbox input {
  border: 2px solid black;
  background-color: inherit;
}

.category_views .category_container .checkbox label {
  font-weight: 400;
  font-size: 16px;
  line-height: 31px;
}

@media screen and (min-width: 768px) {
  .category_views {
    margin-left: 5em;
  }
}

.products_views {
  position: relative;
}

.products_views_container {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 110px;
}

.products_views_container_picture {
  max-width: 202.89px;
  max-height: 299.22px;
  width: 202.89px;
  height: 299.22px;
  -webkit-filter: drop-shadow(0px 7px 4px rgba(110, 110, 110, 0.25));
          filter: drop-shadow(0px 7px 4px rgba(110, 110, 110, 0.25));
}

.products_views_container_picture img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  display: block;
}

.products_views_container_filter {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.products_views_container_filter h3 {
  background-color: #292929;
  color: white;
  padding: 10px 20px;
}

.products_views_container_filter .select_filter_list {
  display: none;
  padding: 10px;
}

.products_views_container_filter .select_filter_item {
  padding-top: 10px;
}

.products_views_container_filter .select_filter_link {
  text-decoration: none;
  color: white;
}

.products_views_container_filter h3:hover .select_filter_list {
  display: block;
}

.most_views .most_views_container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 143px;
          column-gap: 143px;
  row-gap: 50px;
  -ms-touch-action: cross-slide-x;
      touch-action: cross-slide-x;
}

.most_views .most_views_block {
  width: 489px;
  gap: 23px;
  background: rgba(113, 197, 244, 0.38);
  -webkit-box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.most_views_picture {
  border-radius: 5px;
  min-width: 229px;
  height: 270px;
}

.most_views_picture img {
  border-radius: 5px;
  -o-object-fit: fill;
     object-fit: fill;
  width: 100%;
  height: 100%;
  display: block;
}

.most_views_content {
  width: 283px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.most_views_content h1 {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  color: #ffffff;
}

.most_views_content p {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: #d2d2d2;
}

.most_views_content div {
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
  text-align: center;
}

.most_views_content_desc {
  color: #e7e2e2 !important;
  text-align: center;
}

.most_views_content_button a {
  padding: 8px 32px;
  border: 2px solid white;
  font-size: 17px;
  color: #ffffff;
  text-decoration: none;
}

.detail_product {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 116px;
  margin: 0 100px 170px;
  margin-top: 2em;
  /* The Modal (background) */
  /* Modal Content */
  /* The Close Button */
}

.detail_product_content {
  color: white;
}

.detail_product_content_price {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.detail_product_content_description .description {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 10px 0;
}

.detail_product_content_description .detail_description {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-overflow: ellipsis;
}

.detail_product_content .rating {
  margin: 0 0 2em 0;
}

.detail_product_content .checked {
  color: orange;
}

.detail_product #content {
  overflow: hidden;
  height: 3.6em;
  line-height: 1.2em;
}

.detail_product button, .detail_product a {
  text-decoration: none;
  color: black;
  background-color: white;
  border: 0;
  outline: none;
  padding: 10px 20px;
  margin: 20px;
}

.detail_product .modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 10;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.detail_product .card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-width: 0;
  padding: 20px;
  max-width: 450px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 6px;
  -moz-box-shadow: 0px 0px 5px 0px #d4b6d4;
}

.detail_product .card img {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

.detail_product .comment-box {
  padding: 5px;
}

.detail_product .comment-area textarea {
  resize: none;
  border: 1px solid #ad9f9f;
}

.detail_product .form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #ffffff;
  outline: 0;
  -webkit-box-shadow: 0 0 0 1px red !important;
          box-shadow: 0 0 0 1px red !important;
}

.detail_product .send {
  color: #fff;
  background-color: #ff0000;
  border-color: #ff0000;
}

.detail_product .send:hover {
  color: #fff;
  background-color: #f50202;
  border-color: #f50202;
}

.detail_product .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.detail_product .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.detail_product .close:hover,
.detail_product .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.detail_product #testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.detail_product .testimonial-heading {
  letter-spacing: 1px;
  margin: 30px 0px;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.detail_product .testimonial-heading h1 {
  font-size: 2.2rem;
  font-weight: 500;
  background-color: #202020;
  color: #ffffff;
  padding: 10px 20px;
}

.detail_product .testimonial-heading span {
  font-size: 1.3rem;
  color: #252525;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.detail_product .testimonial-box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.detail_product .testimonial-box {
  width: 500px;
  -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}

.detail_product .profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.detail_product .profile-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.detail_product .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.detail_product .name-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.detail_product .name-user strong {
  color: #3d3d3d;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

.detail_product .name-user span {
  color: #979797;
  font-size: 0.8rem;
}

.detail_product .reviews {
  color: #f9d71c;
}

.detail_product .box-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.detail_product .client-comment p {
  font-size: 0.9rem;
  color: #4b4b4b;
}

.detail_product .testimonial-box:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

@media (max-width: 1060px) {
  .detail_product .testimonial-box {
    width: 45%;
    padding: 10px;
  }
}

@media (max-width: 790px) {
  .detail_product .testimonial-box {
    width: 100%;
  }
  .detail_product .testimonial-heading h1 {
    font-size: 1.4rem;
  }
}

@media (max-width: 340px) {
  .detail_product .box-top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .detail_product .reviews {
    margin-top: 10px;
  }
}

.detail_product ::-moz-selection {
  color: #ffffff;
  background-color: #252525;
}

.detail_product ::selection {
  color: #ffffff;
  background-color: #252525;
}

@media (min-width: 768px) {
  .detail_product .most_views_container {
    -webkit-box-align: baseline !important;
        -ms-flex-align: baseline !important;
            align-items: baseline !important;
  }
}

.category_views {
  border: 1px solid #393939;
  border-radius: 10px;
  max-width: 252px;
  width: 100%;
}

.category_views .search {
  position: relative;
  margin-top: 36px;
  margin-bottom: 30px;
  text-align: center;
}

.category_views .search_input {
  width: 208px;
  height: 31px;
  background: #292929;
  outline: none;
  border: none;
  border-radius: 5px;
  text-indent: 49px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.category_views .search_icon {
  position: absolute;
  top: 50%;
  left: 2.5em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.category_views .search_input:focus {
  text-indent: 25px;
}

.category_views .category_container {
  padding: 0.5em 1em;
  color: #ffffff;
}

.category_views .category_container_title {
  border-bottom: 2px solid white;
  width: 50%;
  margin-bottom: 10px;
}

.category_views .category_container_title a {
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
}

.category_views .category_container .checkbox input {
  border: 2px solid black;
  background-color: inherit;
}

.category_views .category_container .checkbox label {
  font-weight: 400;
  font-size: 16px;
  line-height: 31px;
}

@media screen and (min-width: 768px) {
  .category_views {
    margin-left: 5em;
  }
}

.products_views {
  position: relative;
}

.products_views_container {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 110px;
}

.products_views_container_picture {
  max-width: 202.89px;
  max-height: 299.22px;
  width: 202.89px;
  height: 299.22px;
  -webkit-filter: drop-shadow(0px 7px 4px rgba(110, 110, 110, 0.25));
          filter: drop-shadow(0px 7px 4px rgba(110, 110, 110, 0.25));
}

.products_views_container_picture img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  display: block;
}

.products_views_container_filter {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.products_views_container_filter h3 {
  background-color: #292929;
  color: white;
  padding: 10px 20px;
}

.products_views_container_filter .select_filter_list {
  display: none;
  padding: 10px;
}

.products_views_container_filter .select_filter_item {
  padding-top: 10px;
}

.products_views_container_filter .select_filter_link {
  text-decoration: none;
  color: white;
}

.products_views_container_filter h3:hover .select_filter_list {
  display: block;
}

/*

All grid code is placed in a 'supports' rule (feature query) at the bottom of the CSS (Line 310). 
        
The 'supports' rule will only run if your browser supports CSS grid.

Flexbox and floats are used as a fallback so that browsers which don't support grid will still recieve a similar layout.

*/
.profile_container {
  color: #ffffff !important;
  max-width: 80vw;
  margin: 0 auto;
  /* Profile Section */
  /* Gallery Section */
  /* Loader */
  /* Media Query */
  /* Spinner Animation */
  /*
    
    The following code will only run if your browser supports CSS grid.
    
    Remove or comment-out the code block below to see how the browser will fall-back to flexbox & floated styling. 
    
    */
}

.profile_container img {
  width: 100%;
  height: 100%;
  display: block;
}

.profile_container .container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.profile_container .btn {
  display: inline-block;
  font: inherit;
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
}

.profile_container .btn:focus {
  outline: 0.5rem auto #4d90fe;
}

.profile_container .visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.profile_container .profile {
  padding: 5rem 0;
}

.profile_container .profile::after {
  content: "";
  display: block;
  clear: both;
}

.profile_container .profile-image {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 3rem;
}

.profile_container .profile-image img {
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

.profile_container .profile-user-settings,
.profile_container .profile-stats,
.profile_container .profile-bio {
  float: left;
  width: calc(66.666% - 2rem);
}

.profile_container .profile-user-settings {
  margin-top: 1.1rem;
}

.profile_container .profile-user-name {
  display: inline-block;
  font-size: 2.2rem;
  font-weight: 300;
}

.profile_container .profile-edit-btn {
  font-size: 1rem;
  line-height: 1.8;
  border: 0.1rem solid #dbdbdb;
  border-radius: 0.3rem;
  padding: 0 2.4rem;
  margin-left: 2rem;
}

.profile_container .profile-settings-btn {
  font-size: 2rem;
  margin-left: 1rem;
}

.profile_container .profile-stats {
  margin-top: 2.3rem;
}

.profile_container .profile-stats li {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 1.5;
  margin-right: 4rem;
  cursor: pointer;
}

.profile_container .profile-stats li:last-of-type {
  margin-right: 0;
}

.profile_container .profile-bio {
  font-size: 1rem !important;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 2.3rem;
}

.profile_container .profile-real-name,
.profile_container .profile-stat-count,
.profile_container .profile-edit-btn {
  font-weight: 600;
}

.profile_container .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -1rem -1rem;
  padding-bottom: 3rem;
}

.profile_container .gallery-item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 22rem;
          flex: 1 0 22rem;
  margin: 1rem;
  color: #fff;
  cursor: pointer;
}

.profile_container .gallery-item:hover .gallery-item-info,
.profile_container .gallery-item:focus .gallery-item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.profile_container .gallery-item-info {
  display: none;
}

.profile_container .gallery-item-info li {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 600;
}

.profile_container .gallery-item-likes {
  margin-right: 2.2rem;
}

.profile_container .gallery-item-type {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2.5rem;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.profile_container .fa-clone,
.profile_container .fa-comment {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.profile_container .gallery-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.profile_container .loader {
  width: 5rem;
  height: 5rem;
  border: 0.6rem solid #999;
  border-bottom-color: transparent;
  border-radius: 50%;
  margin: 0 auto;
  -webkit-animation: loader 500ms linear infinite;
          animation: loader 500ms linear infinite;
}

@media screen and (max-width: 40rem) {
  .profile_container .profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 4rem 0;
  }
  .profile_container .profile::after {
    display: none;
  }
  .profile_container .profile-image,
  .profile_container .profile-user-settings,
  .profile_container .profile-bio,
  .profile_container .profile-stats {
    float: none;
    width: auto;
  }
  .profile_container .profile-image img {
    width: 7.7rem;
  }
  .profile_container .profile-user-settings {
    -ms-flex-preferred-size: calc(100% - 10.7rem);
        flex-basis: calc(100% - 10.7rem);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 1rem;
  }
  .profile_container .profile-user-name {
    font-size: 2.2rem;
  }
  .profile_container .profile-edit-btn {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 0;
    text-align: center;
    margin-top: 1rem;
  }
  .profile_container .profile-edit-btn {
    margin-left: 0;
  }
  .profile_container .profile-bio {
    font-size: 1.4rem;
    margin-top: 1.5rem;
  }
  .profile_container .profile-edit-btn,
  .profile_container .profile-bio,
  .profile_container .profile-stats {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .profile_container .profile-stats {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 1.5rem;
  }
  .profile_container .profile-stats ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    padding: 1.2rem 0;
    border-top: 0.1rem solid #dadada;
    border-bottom: 0.1rem solid #dadada;
  }
  .profile_container .profile-stats li {
    font-size: 1.4rem;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0;
  }
  .profile_container .profile-stat-count {
    display: block;
  }
}

@-webkit-keyframes loader {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@supports (display: grid) {
  .profile_container .profile {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
    grid-column-gap: 3rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .profile_container .profile-image {
    grid-row: 1 / -1;
  }
  .profile_container .gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(22rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    grid-gap: 2rem;
  }
  .profile_container .profile-image,
  .profile_container .profile-user-settings,
  .profile_container .profile-stats,
  .profile_container .profile-bio,
  .profile_container .gallery-item,
  .profile_container .gallery {
    width: auto;
    margin: 0;
  }
  @media (max-width: 40rem) {
    .profile_container .profile {
      -ms-grid-columns: auto 1fr;
          grid-template-columns: auto 1fr;
      grid-row-gap: 1.5rem;
    }
    .profile_container .profile-image {
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      grid-row: 1 / 2;
    }
    .profile_container .profile-user-settings {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: auto 1fr;
          grid-template-columns: auto 1fr;
      grid-gap: 1rem;
    }
    .profile_container .profile-edit-btn,
    .profile_container .profile-stats,
    .profile_container .profile-bio {
      grid-column: 1 / -1;
    }
    .profile_container .profile-user-settings,
    .profile_container .profile-edit-btn,
    .profile_container .profile-settings-btn,
    .profile_container .profile-bio,
    .profile_container .profile-stats {
      margin: 0;
    }
  }
}

.admin_container_manager {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
}

.admin_container_manager img {
  width: 50px;
  height: 50;
  -o-object-fit: contain;
     object-fit: contain;
}

.admin_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.admin_container .nav {
  margin-right: 30%;
}

.admin_container details {
  color: white;
}

.admin_container .nav_list li {
  padding-left: 2em;
}

@media screen and (max-width: 768px) {
  .admin_container {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.most_views_block {
  width: 489px;
  gap: 23px;
  background: rgba(113, 197, 244, 0.38);
  -webkit-box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.shopping_products {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 143px;
          column-gap: 143px;
  row-gap: 50px;
  -ms-touch-action: cross-slide-x;
      touch-action: cross-slide-x;
}

.checkOut_container {
  text-align: center;
  color: white;
}

.checkOut_container h3 {
  font-size: 32px;
}

.checkOut_container input {
  width: 150px;
}

.checkOut_container .table-responsive {
  text-align: left;
  width: 50%;
  margin: 0 auto;
}

.checkOut_container .table-responsive .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: .5em 1em;
}
/*# sourceMappingURL=style.css.map */